{:deps
 {io.github.yosevu/substantial {:git/tag "v0.0.2" :git/sha "eef653f"}}
 :aliases
 {:create
  {:exec-fn substantial.core/create}
  :build
  {:exec-fn substantial.core/build}
  :publish
  {:exec-fn substantial.scripts/publish}}}
